<nav>
  <ul>
    <li><a href="/user">Home</a></li>
    <li><a href="/user/addPost">Add Post</a></li>
    {{! add a post in the active users post array }}
    <li><a href="/user/posts">Posts</a></li>
    <li><a href="/user/logout">Logout</a></li>
  </ul>
</nav>