a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  width: 65%;
  justify-content: space-evenly;
  padding: 15px 0px;
  background-color: bisque;
  margin: 30px auto;
}
body {
  background-color: black;
}
/* form styling */
.form-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container {
  margin: auto;
  padding: 20px;
  background-color: bisque;
  width: 30%;
}
.form-container input {
  margin: 7px 0px;
}
form {
  margin: auto;
  width: 35%;
}
form {
  font-size: 20px;
}
form button {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 55%;
  margin-left: 20px;
}
img {
  width: 100px;
  margin: 5px 0px;
}
ul {
  width: 30%;
}

.deleteUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
  padding-bottom: 7px;
  font-size: 10px;
  background-color: black;
}
.delete {
  /* background-color: black; */
  color: white;
  margin-right: 7px;
}
.update {
  /* background-color: black; */
  color: white;
}
.deleteUpdate a {
  padding: 3px;
  border: 2px solid white;
}
.formUpdate {
  background-color: bisque;
  padding: 20px 0px;
}
.formUpdate div {
  width: 60%;
  margin: auto;
}
div input {
  width: 100%;
}
/* .update {
  margin-top: 10px;
} */
.post {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  width: 85%;
}
.eachPost {
  background-color: black;
  color: white;
  padding: 8px 10px;
}
.ul_post {
  width: 28%;
}
.postWithCom {
  background-color: bisque;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  padding: 10px;
}
.commentForm {
  width: 70%;
  background-color: black;
  padding: 10px;
  display: flex;
}
.postWithCom div,
.postWithCom img {
  margin: auto;
  padding: 5px;
  font-size: 20px;
}
.postWithCom img {
  width: 30%;
}
.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 58%;
  margin: 6px auto;
  background-color: black;
  border: 4px solid white;
}
.comment li {
  color: white;
  padding: 4px;
}
.postWithCom {
  position: relative;
}
.arrow {
  width: 5%;
  position: absolute;
  top: 22%;
  left: 30%;
  z-index: 3;
}
.arrowTwo {
  position: absolute;
  top: 22%;
  right: 30%;
}
body {
  overflow-x: hidden;
  /* for now for styling purposes */
}
.loginForm {
  margin: 10% auto;
  width: 24%;
  height: 30%;
  background-color: bisque;
  padding: 5px;
}
.inputfield {
  width: 55%;
  margin: 5px auto;
}
.inputfield input {
  margin: 5px;
}
.loginbtn {
  display: block;
  width: 30%;
  margin: auto;
}
.logintitle {
  width: 49%;
  margin: auto;
  font-size: 30px;
}
.formdiv {
  margin: 50px auto;
}
ul.dashboard {
  flex-direction: column;
  background-color: black;
  color: white;
  border: 3px solid white;
}
li span,
.welcome {
  font-size: 25px;
  font-weight: 700;
}
ul div {
  margin: 15px auto;
}
